<!--nav bar-->
<!-- <nav class="navbar navbar-expand-md bg-dark navbar-dark  fixed-top">
  Brand -->
<!-- <a class="navbar-brand" routerLinkActive="active" routerLink="home">Meraki</a>
  <a class="navbar-brand" routerLinkActive="active" routerLink="about">About</a>
  <a class="navbar-brand" routerLinkActive="active" routerLink="portfolio"
    >Portfolio</a
  >
  <a class="navbar-brand" routerLinkActive="active" routerLink="blog">Blog</a>
  <a class="navbar-brand" routerLinkActive="active" routerLink="home">Logout</a> -->

<!-- Navbar links   href="login"-->
<!-- <div class="collapse navbar-collapse" id="collapsibleNavbar"></div>
</nav> -->
<h1 class="aMe1">
  About Meraki
</h1>

<div class="aMe2">
  <p>
    Social media has become very popular. Having a social media has its
    advantages such as allowing a individual to stay connected to their family
    and friends, gives us enjoyment, its a fast instant communication, and it is
    great for promoting a business. Just as well as social media has its
    advantages, it also has its disadvantages. Social Media disadvantages can
    cause a individual to have social peer pressure, online interaction
    substitution for offline interaction, also distraction and procrasination.
    With this application you will be able to create a blog about how you feel
    after you visit social media. By blogging about your feelings after you
    visit social media will create a sentimental analysis, which you will be
    able to better control your mood, and to see how social media is affecting
    your life. By viewing your sentimental analysis, you will have a better idea
    on how social media is affecting your life, and you can slowly decrease the
    amount of time you are on it.
  </p>
</div>
