<section>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Bootstrap Tutorial</h1>
      <p>
        Bootstrap is the most popular HTML, CSS, and JS framework for developing
        responsive, mobile-first projects on the web.
      </p>
      <!--below is the word carousel-->

      <!--the end fo the carousel-->
      <!--below is the sign up button-->
      <a href="signup" class="btn btn-primary bg-secondary" role="button"
        >SIGNUP</a
      >
      <span>
        <!--below is the review button-->
        <a href="#" class="btn btn-primary bg-secondary" role="button"
          >REVIEW</a
        ></span
      >
    </div>
  </div>
</section>

<!-- Footer -->

<div class="footer-copyright ">
  <p>© 2018 Copyright:</p>
</div>
<!-- Footer -->
